---
import Combined from "../vector/combined.svg";
import Receiver from "./receiver.astro";
---

<Receiver id="logo" background="melanin" foreground="cream" accent="sunflower">
  <div class="tdn-icon" data-trigger="background">
    <Combined />
  </div>
</Receiver>

<style>
  .tdn-icon {
    background: var(--color-background);
    width: 100%;
    height: 100%;
  }
</style>